body {
  background-color: #f4f5f6;
}

.phone-row {
  height: calc(100% - 35px);
}

.bg-color-subscribe {
  background-color: #f4f5f6;
}

.bottom-side-image {
  width: 110px;
  height: 110px;
  background-size: cover;
  clear: both;
}

.bottom-sign-up {
  height: 38px;
}

.content-box {
  box-sizing: content-box;
}

.phone-img-small {
  height: 200px;
}

.img-one-position {
  top: 40px;
  left: calc(50% - 140px);
}

.btn-subscribe {
  width: 150px;
}

.background-img {
  background-image: url(https://web.archive.org/web/20210120125445im_/https://d.newsweek.com/en/full/1711584/tiger-wild-animal-sanctuary-colorado.jpg?w=95&h=95&f=b75680cc8b5188b7ba05594030e1cd62);
}

.background-img2 {
  background-image: url(https://web.archive.org/web/20210120125445im_/https://d.newsweek.com/en/full/1711582/kwame-kiplatrick-trial.jpg?w=95&h=95&f=41b98272f973961e56ee70c4b44f15b6);
}

.background-img3 {
  background-image: url(https://web.archive.org/web/20210120125445im_/https://d.newsweek.com/en/full/1711565/k-9-officer-arlo.jpg?w=95&h=95&f=c741fdf61f4e450344c11c802bf4381f);
}

.cover-img {
  background-image: url(https://web.archive.org/web/20210120125445im_/https://d.newsweek.com/en/full/1699861/pro-trump-mob-seizes-capitol.jpg?w=466&h=311&q=90&f=6211816ab79c75bb0b17db7278ec3b29);
}

.img-two-position {
  top: 52px;
  left: calc(50% - 45px);
}

.text-subscribe-bottom {
  margin-left: 15px;
}

.img-bottom-container {
  height: 200px;
}

.text-div-bottom {
  height: 300px;
}

.img-subs {
  padding-right: 90px;
}

.sign-up-img {
  background-image: url(https://web.archive.org/web/20210120125445if_/https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}

.main {
  max-width: 1310px;
}

.colorblack {
  color: black;
}

.bottom-bg-image {
  padding-top: 100%;
  background-size: cover;
  background-position-x: 50%;
  margin-bottom: 10px;
}

.bottom-white-text {
  color: white;
  background-color: rgb(247, 34, 16);
}

.colororange {
  color: rgb(247, 34, 16);
}

.bottom-news-icon {
  width: 29px;
  height: 29px;
  background: url(https://web.archive.org/web/20210120125445im_/https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

.bottom-img-tag {
  left: 0;
  bottom: 0;
  height: 30px;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.9);
}

.p-vs {
  background: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  line-height: 30px;
}

.tablet-right-ads {
  max-width: 300px;
}

.img-tag {
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 150px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
}

.img-tag2 {
  bottom: 0;
  background-color: #c2d4d7;
  width: 50px;
  line-height: 25px;
  font-size: 12px;
  font-weight: 700;
}

.img-tag-sponsored {
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 230px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
}

.article-link {
  color: black;
}

.img-tag a {
  color: #f72210;
}

.img-tag2 a {
  color: black;
}

.card-body {
  padding: 0;
}

#mobile-header {
  background: #f72210;
}

.tablet-width {
  max-width: 1310px;
}

.space {
  min-height: 65px;
  background: none transparent;
}

.brand svg {
  fill: white;
  width: 132px;
  height: 20px;
}

.login {
  font-size: 0;
  background: url(https://web.archive.org/web/20210120131834im_/https://g.newsweek.com/www/images/user-w.svg) center / contain no-repeat;
  width: 30px;
  height: 30px;
  padding-left: 0;
  opacity: 0.75;
}

.free-sign {
  font-size: 12px;
  width: 43px;
  height: 30px;
  background-color: #f72210;
}

.free-sign-up {
  background-color: #f72210;
}

.pelcro-subscribe-button {
  font: bold 13px/24px "Roboto Condensed", sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 24px;
  background-color: yellow;
}

.container {
  padding-top: 13px;
  padding-bottom: 13px;
}

.fa-bars {
  color: white;
  padding-left: 8px;
  margin-top: 5px;
}

.page-footer {
  border-top: 1px solid grey;
  padding-top: 20px;
}

.page-footer li {
  margin-left: 10px;
}

.page-footer ul {
  padding: 0;
}

.page-footer p {
  font-size: 12px;
  margin-top: 2px;
}

.page-footer a {
  color: gray;
}

.logo svg {
  width: 230px;
  height: 40px;
  fill: #f72210;
}

.genericon {
  font-size: 24px;
}

.footer-links ul {
  flex-flow: row wrap;
}

.footer-links li {
  padding-right: 20px;
  margin: 6px 0;
  cursor: pointer;
}

.footer-links {
  border-top: 1px solid grey;
}

.footer-links strong {
  margin-top: 6px;
  margin-right: 10px;
}

@media (min-width: 470px) {
  .bottom-side-image {
    width: 258px;
    height: 258px;
  }
}

@media (min-width: 768px) {
  .img-one-position {
    top: 40px;
    left: 40px;
  }

  .img-two-position {
    top: 52px;
    left: 135px;
  }

  .text-subscribe-bottom {
    margin-left: 170px;
  }

  .bottom-side-image {
    width: 110px;
    height: 110px;
  }

  .text-div-bottom {
    height: 350px;
  }

  .login {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: white;
    background: none;
    margin-right: 28px;
    font-weight: 800;
  }

  .pelcro-subscribe-button {
    height: 30px;
    width: 157px;
    font-size: 18px;
  }

  .sign-up-img {
    background-position-y: 0;
  }

  .phone-img-small {
    height: auto;
  }
}

@media (min-width: 988px) {
  .page-footer {
    max-width: 1310px;
  }

  .logo-p p {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media (min-width: 988px) {
  .top-buttom-wrapper {
    align-items: center;
    height: 30px;
  }

  #mobile-header {
    background: #f72210;
    display: none;
  }

  .trending-topics-wrapper ul {
    overflow-x: hidden;
  }

  #desktop-container {
    position: relative;
    max-width: 1310px;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .header-top {
    height: 95px;
    padding: 20px 10px 15px;
    color: white;
    background-color: #f72210;
  }

  .header-top .login {
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    width: 93px;
  }

  .header-top .date {
    margin-left: 20px;
  }

  .header-middle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 20px 0;
  }

  .header-middle svg {
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
  }

  .search-block-form-2 {
    position: absolute;
    top: 3px;
    right: 70px;
    height: 54px;
    width: 85px;
    border: 0 none;
  }

  .search-input {
    height: 54px;
    width: 60px;
    border: 0 none;
  }

  #search-wrapper {
    align-items: center;
  }

  .header-search-icon {
    background-image: url(https://web.archive.org/web/20210120125445im_/https://g.newsweek.com/www/images/icon-search-glass.svg);
    width: 20px;
    height: 20px;
  }

  .header-bottom {
    position: relative;
    padding: 15px 0 15px 0;
  }

  .header-bottom a {
    color: black;
  }

  .header-bottom::before {
    position: absolute;
    top: 0;
    right: 0;
    content: " ";
    display: block;
    width: 80px;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }

  .page-nav {
    padding-right: 160px;
    font-size: 19px;
    font-weight: bold;
    padding-left: 0;
  }

  .page-nav li {
    flex-grow: 1;
    border-left-color: #d9d9d9;
    border-left-width: 1px;
    border-left-style: solid;
    text-align: center;
    align-items: center;
  }

  .trending-topics-wrapper {
    padding-top: 13px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 16px;
    border-top: 1px solid #dedede;
    border-top-width: 2px;
  }

  .trending-topics-wrapper li {
    padding-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
    flex: none;
  }

  .trending-topics-wrapper a {
    color: rgb(128, 127, 132);
  }

  .first {
    border-left: 0;
  }
}
